/*System powstał na Wydziale Informatyki i Nauk o Żywności PWSIiP w Łomży */
#nav_img
{
	width:20px;
}

.container, .container .row
{
	margin-top: 1%;
	margin-bottom: 1%;
	border-style: solid; 
	border-radius: 10px; 
	border-color:#032f4a; 
	border-width: 2px; 
}

.container .row
{
	margin: 1%;	
}

.row .col-12, h3
{
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

form
{
	margin:1%;
}

#chart
{
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: normal;
}

td
{
	font-style: normal;
	font-weight: normal;
}

table
{
	margin-top:1%;
	margin-bottom: 1%;
}
@media only screen and (max-width: 400px) {
  	#nav_img 
	{
    	width: 10px;
  	}
	
	#brand
	{
		font-size: 80%;
	}
	
	#dev-status
	{
		font-size: 60%;
	}
}
